* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
}
.promo {
    min-height: 100vh;
    background: url('../img/beachshowcase.jpg') center center/cover no-repeat;
}
.promo_header {
    width: 1000px;
    padding-top: 40vh;
}
.title {
    text-align: center;
    color: #926239;
    font-size: 50px;
    font-weight: 700;
}
.subtitle {
    text-align: center;
    color: #926239;
    font-size: 35px;
    font-weight: 500;
    margin-top: 15px;
}
.promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 20px;
    color: #926239;
    padding: 10px;
    border-radius: 15px;
    background: none;
    cursor: pointer;
}
a {
    text-decoration: none;
}
.promo_btn:hover {
    background-color: #926239;
    color: #fff;
}
.main_bg-color {
    background-color: #926239;
    color: #fff;
    font-weight: 300;
}
.second_bg-color {
    color: #926239;
    background-color: #fff;
    font-weight: 300;
}
.about {
    padding: 40px 60px;
    text-align: center;
    font-size: 20px;
    line-height: 28px;
}
.items {
    display: inline-block;
}
.item {
    display: inline-block;
    width: 33%;
    padding: 15px;
    font-size: 20px;
    line-height: 28px;
}
@media screen and (max-width: 500px) {
    :root {
        font-size: 20px;
    }
    .promo {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        background: url('../img/beachshowcase.jpg') no-repeat 80%/cover;
    }
    .promo_header {
        padding: 0 20px;
        width: 100vw;
    }
    .title {
        font-size: 1.5rem;
    }
    .subtitle {
        font-size: 0.8rem;
        margin-top: 15px;
    }
    .promo_btn {
        font-size: 0.8rem;
        padding: 10px;
        margin-top: 30px;
    }
    .about {
        padding: 20px;
        font-size: 1rem;
        line-height: 28px;
    }
    .items {
        display: flex;
        flex-flow: column nowrap;
    }
    .item {
        width: 100vw;
        padding: 20px;
    }
}